<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ser422a</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>lab2task2.first</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>lab2task2.second</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>lab2task2.third</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourth</servlet-name>
    <servlet-class>lab2task2.fourth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourth</servlet-name>
    <url-pattern>/fourth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fifth</servlet-name>
    <servlet-class>lab2task2.fifth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fifth</servlet-name>
    <url-pattern>/fifth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancel</servlet-name>
    <servlet-class>lab2task2.cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
</web-app>