<!DOCTYPE html>
<html>
<head>
<title>First Name</title>
</head>
<body>
<h3>Multiple Page Form-Page 1</h3>	
  <form action="multform2" method="POST">
    First Name: <input type="text" name="fname" value=<%= firstname %>> <br> 
  <input type="submit" value="Next">
  </form>

</body>