<!DOCTYPE html>
<html>
<head>
<title>Landing Page</title>
</head>
<body>
<h4> Welcome <%= user %> </h4> </br>
Wrong User? Oops. </br>
<a href="/login"> Login Here </a></br>
<a href="/multform1"> Go to Muiltiple Page Form  </a></br>
<a href="/display"> Display the User List  </a>
</body>
</html>