<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Last Name</title>
</head>
<body>

  <form action="multform3" method="POST">
    Last Name: <input type="text" name="lname" value=<%= lastname %>> <br>
  <input type="submit" value="Next">
  </form>
  <br>
  <form action="multform1" method="POST">
  <input type="submit" value="Previous">
  </form>

</body>